{{template "base" .}}

{{define "main"}}
<div class="valign-wrapper">
  <span class="container center-align">
    <h1 class="title teal-text text-lighten-3">Welcome to Jefe</h1>
  </span>
</div>
<style>
  body {
    background-image: url("https://1920x1080hdwallpapers.com/image/201502/nature/224/cactus-desert-cloud-california.jpg");
  }
</style>
{{ end }}
